<div class="login-page">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	<img src="images/link.png" class="user-avatar" />
			<h1>LinkSharing<small>Application</small></h1>
			<form role="form" ng-submit="submit()">
				<h3>{{errorMsg}}</h3>
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="username" ng-model="username" placeholder="Username">
					</div>

					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="password" ng-model="password" placeholder="Password">
					</div>
				</div>

				<button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Login</button>
				<a ng-href="#/signup" ><button class="btn btn-white btn-outline btn-lg btn-rounded">Register</button></a>
			</form>

		</div>	
	</div>

</div>